Source: couch-fuse
Section: filesystems
Priority: extra
Maintainer: narkisr <narkisr.dev@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: narkisr.com

Package: couch-fuse
Architecture: any
Depends:  sun-java6-jdk (>=6-15-1), fuse-utils
Description: Couchdb FUSE filesystem
 The couchdb fuse filesystem ..... 
