<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title> {{ page.title }} </title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/pages.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
  <a href="http://github.com/narkisr/{{ page.github_name}}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:50;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
  <div id="container">
    <div id="header_holder">
      <div id="header">
        <div id="nav" style="display: none;">
        </div>
      </div>
      <div class="nav_close" style="display:none;"><a href="#">^</a></div>
    </div>
    <div id="main">
      {% if page.current_version %}
      <div id="latest_version"><a href="#installing">{{ page.current_version }}</a></div>
      {% endif %}
      <ul id="pagenav">
        {% for nav in page.nav %}
        <li><a href="{{ nav['link'] }}">{{ nav['name'] }}</a></li>
        {% endfor %}
      </ul>
      <div id="content">
        {{ content }}
        <h3 id="license">License</h3>
        <p>This code is free to use under the terms of the <a href="http://www.apache.org/licenses/LICENSE-2.0.html"><span class="caps">Apache License, Version 2.0</span>.</a></p>
      </div>
    </div>
   </body>
</html>
